<p>Escriba aquí porque desea convertirse en mensajero.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<div  ng-show="authenticated">
    Razón : <input ng-model = "razon"> <br>
    <p ng-model="mensaje" ng-repeat="x in solicitante">{{x.nombre}}{{mensaje}}   <br>
    <button ng-click="agregarSolicitante(); agregarMensajero(x)" > Incribirse </button> 
</div>                    
<div  ng-show="!authenticated">
    <h1> Usted no esta autenticado</h1>
</div>                    