<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://sql9.freemysqlhosting.net:3306/sql9147549?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">sql9147549</property>
    <property name="hibernate.connection.password">SLSJnAwPv8</property>
    <mapping class="com.eci.cosw.model.Mensajero"/>
    <mapping class="com.eci.cosw.model.Producto"/>
    <mapping class="com.eci.cosw.model.Solicitante"/>
    <mapping class="com.eci.cosw.model.Viaje"/>
    <mapping class="com.eci.cosw.model.Task"/>
    <mapping class="com.eci.cosw.model.Pedido"/>
    <mapping class="com.eci.cosw.model.Usuario"/>
    
  </session-factory>
</hibernate-configuration>
